/* ============== HERO ================ */

#hero {
    background-image: url("./../images/abstract.jpg");
    background-size: cover;
    background-position: center;
    font-family: "Rubik", sans-serif !important;
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-text > h1 {
    font-size: var(--title-size);
    user-select: none;
}

.hero-text > p, .hero-text > p > span {
    font-size: var(--subtitle-size);
    user-select: none;
}

.hero-text > p > span {
    background: linear-gradient(to right, yellow, green);
    background-clip: text;
    color: transparent;
}

/* ============== ABOUT ================ */

#about {
    background-color: var(--secondary);
    height: 100vh;
    padding-top: 6rem;
}

#about > .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
    gap: 3rem;
}

#about h2, #about .introduction {
    text-align: center;
}


.information-about-me {
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    flex-grow: 1;
}

.information-about-me h3{
    margin-top: 7rem;
    font-size: 2rem;
    text-align: center;
}

.technologies {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.info-item i {
    font-size: 5rem;
}
.info-item p {
    text-align: center;
}

/* ============ PROJECTS ============== */

#projects {
    padding-top: 6rem;
    height: 100vh;
}

#projects > .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 1rem;
    max-width: 100vw !important;
}

.menu {
    flex-grow: 1;
}


/* ================= CONTACT ================== */

#contact {
    height: 100vh;
    padding-top: 6rem;
    background-color: var(--secondary);
    position: relative;
}

#contact .container {
    padding: 3rem 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.socials {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5rem;
    position: absolute;
    left: 2rem;
    top: 25%;
}

.social-icons {
    font-size: 5rem;
    transition: transform 1s;
}

.social-icons:hover {
    transform: translateX(20px);
}