.page-header {
    position: fixed;
    top: 0px;
    width: 100%;
    max-width: 100vw;
    padding: 0 3rem;
    backdrop-filter: blur(3px);
    transition: box-shadow 1s;
    z-index: 1000;
}

.navbar {
    padding: 2rem 0;
}

.navbar ul {
    display: flex;
    justify-content: space-evenly;
}

.navbar-items a {
    transition: 1s;
}

.navbar-items a:hover {
    transform: scale(1.2);
    transform-origin: center;
}

@media (max-width: 400px) {
    .page-header {
        padding-inline: 2rem;
    }
    .navbar > ul {
        justify-content: space-between;
    }
}